fastapi[standard]~=0.115.11
asyncpg
sqlalchemy[asyncio]~=2.0.39
python-dotenv~=1.0.1
pyJWT~=2.10.1
requests
google-auth
pandas~=2.2.3
python-dateutil~=2.9.0.post0
starlette~=0.46.1
pydantic~=2.10.6
httpx~=0.28.1
openpyxl~=3.1.5